# Virtual environment
.venv/
venv/

# Python cache/compiled files
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env 

# Uploaded files (temporary)
app/temp/

# IDE/Editor files
.vscode/
.idea/

# System files
Thumbs.db 